# Django Configuration Keys
SECRET_KEY=django-insecure-some-secure-development-key-2026
DEBUG=True

# Connection URI to Supabase PostgreSQL Database
# Format: postgres://[user]:[password]@[host]:[port]/[database]
# Example: postgres://postgres:mypassword@db.xxxxxx.supabase.co:5432/postgres
DATABASE_URL=postgresql://postgres.lbpergimixikmrkmahwp:Supriya1236@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres

# Celery Broker Configurations (Default to True for eager tasks testing without broker service)
CELERY_TASK_ALWAYS_EAGER=True
